*{
    font-family: "poppins", serif;
   
}




.sagar-nav li{
    margin-right: 20px;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    
    

}
.social-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-size: 20px;
   
    
}
 .img-1{
    width: 100px;
    height: 550px
} 

.img-2{
   width: 100px;
   height: 550px
} 
.img-3{
    width: 100px;
    height: 550px
 } 
 .custom-line {
    width: 10%;
    margin: 20px auto;
    border-top: 3px solid #FF4500;
    border-radius: 5px;

 }

 .sponsors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 180px;
    
 }
.sponsors img {
    width: 200px;
    display: flex;

    padding: 20px;
  
}

.sag{
    font-size: 18px;
    font-style: poppins;
}
.links-foot{
    font-size: 18px;
 color:#6b7280 ;
}




.contact-form {
    max-width: 400px;
    margin: 50px auto;
}
.contact-form h2 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}
.form-control {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus {
    border-color: #ff4a4a;
    box-shadow: none;
}
.btn-custom {
    background-color: #ff4a4a;
    color: #fff;
    font-weight: 500;
    border: none;
}
.btn-custom:hover {
    background-color: #ff6666;
}
.table-header {
    background-color: #f9a7a1;
}
.status-label {
    background-color: #d1e7dd;
    color: #198754;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8em;
}

.card {
    background-color: #f9d5d1;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.card-title {
    font-weight: bold;
    color: #b02e1e;
}
.btn-register {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}





